# ignoring installation files
steme.egg-info/

# ignoring caches
*/*__pycache__
*/.ipynb_checkpoints/

# ignoring generated images
*.png
*.svg

# ignoring .sbatch files
jobs/

# models and data content
data/*
models/*
